html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: Copperplate, sans-serif;
  background:url(../images/symphony.png) repeat;
}

#background-image {
  position: absolute;
  left: 0;
  right: 0;

  background-image:url(../images/background.jpg);
  height:100%;
  width:100%;
  background-size:cover;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);  
}

.container {
  height: 100%;
  width: 100%;
}

.topContainer {
  height: 100%;
}

.navbar-brand {
  font-size:1.8em;
}
    
#topRow {
  text-align:center;
  padding-top: 50px;
}
  
#topRow h1 {
   font-size:400%;
}
  
.marginTop {
   margin-top:30px;
}
  
.center {
   text-align:center;
}
  
.title {
   margin-top:100px;
   font-size:300%;
}

.navbar {
  background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60);
  border-color: transparent;
  border-width: 0px;
  box-shadow: none;

}

.description {
  font-family: "Copperplate Gothic" ,sans-serif;
  font-weight: normal;
  margin: 1px;
}

@media(min-width: 768px){
  .navbar-nav {
    float: right;
  }
}
 
.profile-pic {
  width: 250px;
  border-radius: 80px;
  display: block;
  margin: 0 auto;
}

.social-media {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.copyright {
  font-size: 10px;
}

.center-block {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
}

@media (min-width: 400px) {

  .center-block {
    width: 360px
  }
  
}

.btn-sample { 
  clear: both;
  position: relative;
  color: black; 
  background-color: white; 
  border-color: black; 
} 
 
.btn-sample:hover { 
  color: white; 
  background-color: black; 
  border-color: black; 
}

.lead {
  font-size: 30px;
  margin-top: 50px;
}

.footerContainer {
  clear: both;
  position: relative;
  color: white;
  background-color: #31849B;
  height:250px;
  margin-top: 100px;
}

.btn-social-icon {
  color: white;
}

.blue {
  color: #31849B;
}

/*portfolio page*/

.port-img {
  margin: 0 auto;
  width: 300px;
  margin: 10px;
  border-radius: 10%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

#myCarousel, #myCarousel-2, #myCarousel-3, #myCarousel-4, #myCarousel-5, #myCarousel-6 {
  width: 90%;
  margin-left: 5%;
}

.pp-description {
  font-family: "Copperplate Gothic" ,sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.text {
  margin: 5%;
  width: 90%; 
}
  
  


/*Professional Background Page*/

.bg-description {
  font-family: "Copperplate Gothic" ,sans-serif;
  font-weight: normal;
  margin: 5px;  
}

.bg-section {
  margin: 5px;
  margin-bottom: 40px;
}

.section {
  margin: 2px;
}

@media (min-width: 768px) {

  .bg-title {
    width: 30%;
    float: left;
    margin-left: 3%;

  }

  .bg-section {
    margin-top: -40px;
    margin-right: 30px;
    width: 67%;
    float: right;

  }
  
}

