<!DOCTYPE html>
<html>
  <head>
  	<title>Chirper App</title>

  	<link rel="stylesheet" type="text/css" href="./skeleton/css/skeleton.css">
  	<link rel="stylesheet" type="text/css" href="./skeleton/css/normalize.css">
  	<link rel="stylesheet" type="text/css" href="./style.css">
  </head>

  <body>
    <div class='container' id='app'></div>
  	<script>var USER = <%- JSON.stringify(user) %></script>
  	<script type="text/javascript" src='./main.js'></script>
  </body>
</html>
