<!DOCTYPE html>
<html>
  <head>
  	<title>Chirper App</title>

  	<link rel="stylesheet" type="text/css" href="./skeleton/css/skeleton.css">
  	<link rel="stylesheet" type="text/css" href="./skeleton/css/normalize.css">
  	<link rel="stylesheet" type="text/css" href="./style.css">
  </head>

  <body>
    <div class='container'>
      <div class='row'>
        <h1>
          Chirper
        </h1>
      </div>
      <div class='row'>
        <div class='six coloumns'>
          <h2>Log In</h2>
          <form action='/login' method="POST">
            <p>
              <label>Username</label>
              <input type='text' name='username' class='u-full-width' />
            </p>
            <p>
              <label>Password</label>
              <input type='password' name='password' class='u-full-width' />
            </p>
            <p><button class='button-primary'>Login</button></p>
          </form>
        </div>
        <div class='six coloumns'>
          <h2>Sign up</h2>
          <form action='/login' method="POST">
            <p>
              <label>Full Name</label>
              <input type='text' name='fullname' class='u-full-width' />
            </p>
            <p>
              <label>Email</label>
              <input type='email' name='email' class='u-full-width' />
            </p>
            <p>
              <label>Username</label>
              <input type='text' name='username' class='u-full-width' />
            </p>
            <p>
              <label>Password</label>
              <input type='password' name='password' class='u-full-width' />
            </p>
            <p><button class='button-primary'>Signup</button></p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
